

.f1{
    width: 419px;
    padding-top: 85px;
}

.titulo{
    padding: 112px 20px 16px;
    margin-top: 30px;
    
}



h2 {
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 22px;
    line-height: 32px;
}

.border {
    border-radius: 10px;
background: #fff;
box-shadow:  35px 35px 70px #bebebe,
             -35px -35px 70px #ffffff;
}
button{
    cursor: pointer;
}
.boton1{
    background-color: rgb(32, 110, 212);
}
.boton2 {
    background-color: rgb(46, 175, 24);
}
.idiomas {
    gap: 10px;
    font-size: 13px;
}
.links, .linea, .meta {
    gap: 8px;
    font-size: 13px;
    line-height: 1em;   
}
.links, .meta{
   margin-left: 70px;
   margin-right: 70px;
}
.borde1{
    border: 1px solid #bebebe;
}

@media (min-width: 1500px){
    .titulo{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 250px;
        width: 30%;
    }
    .f1{
       margin-left: 0;
    }
    
}

@media (max-width:767px){
    .titulo{
        margin: 20px;
    }
}